# Prerequisites
*.d

# Compiled object files
*.slo
*.lo
*.o
*.obj

# Precompiled headers
*.gch
*.pch

# Linker / debug files
*.ilk
*.pdb
*.dwo

# Dynamic libraries
*.so
*.dylib
*.dll

# Static libraries
*.lai
*.la
*.a
*.lib

# Fortran modules
*.mod
*.smod

# Executables
*.exe
*.out
*.app

# Python
__pycache__/
*.py[cod]
.pytest_cache/
